@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap');
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
} 

::-webkit-scrollbar{
    width: 0px;
}

body {
    margin: 0;
    background: black; /* Galaxy background */
    overflow-y: scroll; /* Enable vertical scrolling */
    height: 200vh; /* Make the page scrollable */
    width: 80%;
    margin: auto;
}

#galaxy {
    position: fixed; /* Fixed background */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Behind all content */
    pointer-events: none; /* Prevent interaction */
}

/* Styling for stars */
.star {
    position: absolute;
    background: rgb(221, 221, 221);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}



/*header style*/
.header {
    display: flex;
    justify-content: center;
    gap:20%;
    align-items: center;
    margin: auto;
    height: 80px;
    width: 80%;
    position: fixed;
    z-index: 1;
    background-color: #00000059;
}
.name{
    color: #ffffff;
    font-family: 'Merienda', cursive;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 150px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s;
    font-variant: small-caps;
    font-size: 20px;
}

.nav-links li a:hover {
    font-size: 16px;
}

/* Main Section Styles */
#home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#logo1 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center; 
    h1 {
        color:#a0a0a0;;
        font-family: 'Merienda', cursive;
        font-variant: small-caps;
    }
}

/*about section*/
.section-title {
    color: #a0a0a0;;
    p{
        font-size: 30px;
    }
}

.about-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dp{
    img{
        height: 400px;
        width: 400px;
    }
}
.para p {
    color: #afaeae;
    padding: 20px;
}

/*Image Demonstration Section*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    position: relative;
    margin: 10px;
}

.image-container img {
    height: 500px;
    flex-basis: 30%;
   
    transition: transform 0.2s ease-in-out;
}

.image-container:hover img {
    transform: scale(0.9);
    box-shadow: 1px 1px 10px 3px #ffffff;
    transition: all 0.2s ease-out;
    filter: brightness(60%);
    
}
/* Logo Image Section Styles */
.logo-image img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.logo-image {
    text-align: center;
    padding: 10px;
}

.logo-image img:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 2px #e7e7e7;
    transition: all 0.3s ease-out;
}

/* Footer Section Styles */
footer {
    background-color: #131313;
    color: #afaeae;
    padding: 25px;
    text-align: center;
    font-family: Arial;
    font-variant: small-caps;
}

footer a {
    color: #afaeae;
}
footer a:hover{
    color: white;
    transition: 0.3s;
}





