@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap');
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
} 

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color:#000007;
}
::-webkit-scrollbar-thumb{
    background-color:#005380;
}
:root{
    --black:#000007;
    --two: #2687bc;
    --three: #5ea0cc;
    --four: #94bdde;
    --five:#bcd6e6;
    --white:#e0efed;
}

body {
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    background-color: #000000;
}

/*title style*/
.section-title {
    color: var(--two);
    display: flex;
     p{
         margin: auto;
         font-size: 60px;
         font-weight: 800;
         background-clip:text;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         background-image: linear-gradient(45deg, #001f30,#0069a1,#00aeff);
     }
 }
/*header style*/
.header {
    display: flex;
    justify-content: center;
    gap:20%;
    align-items: center;
    margin: auto;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color:#0069a1;
}
.name1{
    color: #ffffff;
    font-family: 'Merienda', cursive;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 150px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s;
     transition: all 0.3s ease-in-out;
    font-size: 20px;
    padding: 10px;
}

.nav-links li a:hover {
    border-radius: 25px;
    background-color: #d1f9fc;
    color: #0069a1;
}

/* Main Section Styles */
#home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: url(img/bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.name2{
    font-size: 100px;
    font-weight: 800;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #00097b,#0195a8,#00097b);
    animation: ease infinite gradiant 3s;
    -webkit-animation: ease infinite gradiant 3s;
    background-size: 400% 400%;
}
@keyframes gradiant{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/*Image Demonstration Section*/
.gallery-item {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.img-div {
    position: relative;
    margin: 10px;
    height: 500px;
    width: 350px;
    background-color: #0069a1;
}

.img-div img {
    height: 400px;
    display: flex;
    margin: 20px auto;
}
.img-div p{
    margin: auto;
}

.img-div:hover img {
    transform: translate(-2px, -10px);
    transition-duration: 300ms;  
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.753);
}

/*about section*/
#about{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-dp-section{
    width: 90%;
    display: flex;
    margin:auto;
}
.about-info{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.about-info p{
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    color:#ffffff;
}
.profile{
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    position: relative;
    transition-duration: .5s;
}
.profile img{
    width: 300px;
}
.profile::before{
    content: "";
    background-color: transparent;
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: -2;
    box-shadow: 2px 2px 0px inset #0069a1,
                -2px -2px 0px inset transparent;
                transition-duration: .5s;

}
.profile::after{
    content: "";
    background-color: transparent;
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: -2;
    box-shadow: 2px 2px 0px inset transparent,
                -2px -2px 0px inset #0069a1;
                transition-duration: .5s;

}
.profile:hover::after{
    transform: translate(20px,20px);
    transition-duration: .5s;
}
.profile:hover::before{
    transform: translate(-20px,-20px);
    transition-duration: .5s;
}

/*journey style*/
.journey{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.j-title{
    margin: auto;
    font-size: 40px;
    font-weight: 400;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #003857,#0069a1,#00aeff);
}
.j-subtitle{
    font-size: 25px;
    font-weight: 200;
    color: gray;
}
.j-contant{
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    color:#ffffff;
}
/* Logo Image Section Styles */
.logo-image {
    position: relative; 
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.logo-image img {
    z-index: 2; 
    height: 650px;
    width: 500px;
    transition: all 0.3s ease-out;
}

.logo-image img:hover {
    cursor: pointer;
}
.logo-image img {
    transition: transform 0.3s ease-out;
}

.logo-image img:hover {
    transform: scale(1.1); 
}

/* Blob animation styles */
.blob {
    position: absolute;
    z-index: 1;
    width: 600px;
    height: 600px;
    background-color:#0069a1;
    border-radius: 50%;
    filter: blur(300px);
    opacity: 100%;
    animation: breath 1s linear infinite alternate-reverse;
}

/* Breathing animation */
@keyframes breath {
    from {
        opacity: 100%;
    }
    to {
        opacity: 50%;
    }
}

/* contact Section Styles */
#contact{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
}
.contact-background{
    width: 100%;
    height: 70vh;
    background-color: #000000;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    z-index: -1;
}
.contact-blob{
    width: 100%;
    height: 150px;
    background-color: rgb(0, 153, 255);
    border-radius: 50%;
    filter: blur(50px);
    opacity: 0.7;
}
.logos{
    position: relative;
    display: flex;
    width: 100%;
    top: 50%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 80px;
    z-index: 1;
 }

 .logos a{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid rgb(226, 222, 222);
    transition-duration: .3s;
    position: relative;
    box-shadow: 0px 0px 0px #0069a1 inset;
    transition-duration: .3s;
 }
 
 .SocialHandle{
    fill: white;
    width: 60%;
 }
 #GmailLogo{
    height: 70%;
    fill: white;
 }
 .logos a:hover{
    box-shadow: 0px 0px 50px 100px #0069a1 inset;
    transition-duration: 1s;
    border: none;
 }
 .logos a::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 50%;
    transform: scale(0);
    background-color:#0069a1;
    background-color: transparent;
    transition-duration: .3s;
    z-index: -1;
 }
 .logos a:hover::before{
    transform: scale(1);
    transition-duration: .3s;
 }

 
/*footer style*/
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color:#000407;
    p{
        font-size: 15px;
        color:#ffffff;
        margin: auto;
    }
}
/*back button*/
#backtotopbutton {
    display: none; 
    position: fixed;
    right: 10px;
    bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    width: 2rem;
    height: 10rem;
    z-index: 10;
    text-align: center;
    transition: all 0.4s;
    background-color: transparent;
}

#backtotopbutton article{
    z-index: 1;
    font-size: 0.8rem;
    color: rgb(0, 153, 255);
    font-weight: 600; 
    writing-mode:vertical-rl;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
     mix-blend-mode: difference;
}
#backtotopbutton:hover{
    transform: translate(0px,-20px);
    text-decoration: line-through white;
}
